.sidebar {
    width: 250px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 60px; /* To not overlap header */
    background: #f8f9fa;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  }
  .sidebar ul {
    list-style: none;
    padding: 0;
  }
  .sidebar ul li {
    padding: 10px;
    cursor: pointer;
  }
  .sidebar ul li:hover {
    background: #e9ecef;
  }
  
.sidebar-link {
  color: #374151; // default gray
  transition: 0.2s;
}

.sidebar-link:hover {
  background-color: #f3f4f6;
}

.active-link {
  background-color: #e5e7eb;
  color: #2563eb;
  font-weight: 600;
  border-left: 4px solid #2563eb;
}