<div class="min-h-screen mx-5">
    <mat-tab-group class="bg-white">
        <mat-tab label="Users">
            <div class="flex items-center mt-2 max-w-screen-2xl mx-auto">
                <h2 class="text-2xl font-semibold">Skinet Users</h2>
                <button routerLink="/admin/user" class="mt-2 ml-auto" mat-flat-button>Add user</button>
                <!-- Move filter field to the right -->
                <mat-form-field appearance="outline" class="mt-2 ml-auto">
                    <mat-label>Filter by role</mat-label>
                    <mat-select (selectionChange)="onUserFilterSelect($event)">
                        @for (role of rolesOptions; track $index) {
                        <mat-option [value]="role">{{role}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>


            <div class="p-2">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="users" class="bg-white">

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let user"> {{user.id}} </td>
                        </ng-container>
                        <ng-container matColumnDef="firstName">
                            <th mat-header-cell *matHeaderCellDef> firstName </th>
                            <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="lastName">
                            <th mat-header-cell *matHeaderCellDef> lastName </th>
                            <td mat-cell *matCellDef="let user"> {{user.lastName}} </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef> email </th>
                            <td mat-cell *matCellDef="let user"> {{user.email}} </td>
                        </ng-container>
                        <ng-container matColumnDef="roles">
                            <th mat-header-cell *matHeaderCellDef> roles </th>
                            <td mat-cell *matCellDef="let user"> {{user.roles}} </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let user">
                                <div class="flex gap-2">
                                    <!-- <button matTooltip="View" mat-icon-button routerLink="/orders/{{order.id}}">
                                    <mat-icon color="accent">visibility</mat-icon>
                                </button> -->
                                    <button matTooltip="Delete" mat-icon-button>
                                        <mat-icon color="warn" (click)="opendeleteUserDialog(user.id)">delete</mat-icon>
                                    </button>
                                    <button matTooltip="Edit" [routerLink]="['/admin/user', user.id]" mat-icon-button>
                                        <mat-icon color="primary">edit</mat-icon>
                                    </button>
                                </div>
                            </td>
                        </ng-container>


                        <tr mat-header-row *matHeaderRowDef="userColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: userColumns;"></tr>
                    </table>

                    <mat-paginator class="bg-white" [pageSizeOptions]="[5, 10, 20]" [length]="usersCount"
                        [pageSize]="userParams.pageSize" (page)="onUserPageChange($event)" showFirstLastButtons>
                    </mat-paginator>
                </div>

            </div>
        </mat-tab>
        <mat-tab label="Products">
            <div class="flex items-center mt-2 max-w-screen-2xl mx-auto">
                <h2 class="text-2xl font-semibold">Skinet Products</h2>
                <button routerLink="/admin/product" class="mt-2 ml-auto" mat-flat-button>Add product</button>
            </div>

            <div class="p-4">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="products" class="bg-white">
                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let product"> {{product.id}} </td>
                        </ng-container>

                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let product"> {{product.name}} </td>

                            <ng-container matColumnDef="type">
                                <th mat-header-cell *matHeaderCellDef> type </th>
                                <td mat-cell *matCellDef="let product"> {{product.type}} </td>
                            </ng-container>

                            <ng-container matColumnDef="brand">
                                <th mat-header-cell *matHeaderCellDef> brand </th>
                                <td mat-cell *matCellDef="let product"> {{product.brand}} </td>
                            </ng-container>
                        </ng-container> <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef> price </th>
                            <td mat-cell *matCellDef="let product"> {{product.price | currency:'INR' }} </td>
                        </ng-container>


                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let product">
                                <div class="flex gap-2">
                                    <button matTooltip="Delete" mat-icon-button>
                                        <mat-icon color="warn"
                                            (click)="opendeleteProductDialog(product.id)">delete</mat-icon>
                                    </button>
                                    <button matTooltip="Edit" [routerLink]="['/admin/product', product.id]"
                                        mat-icon-button>
                                        <mat-icon color="primary">edit</mat-icon>
                                    </button>
                                </div>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="productColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: productColumns;"></tr>
                    </table>

                    <mat-paginator class="bg-white" [pageSizeOptions]="[5, 10, 20]" [length]="productsCount"
                        [pageSize]="productParams.pageSize" (page)="onProductPageChange($event)" showFirstLastButtons>
                    </mat-paginator>
                </div>

            </div>

        </mat-tab>
        <mat-tab label="Orders">
            <div class="flex items-center mt-2 max-w-screen-2xl mx-auto">
                <!-- <h2 class="text-2xl font-semibold">Customer orders</h2> -->

                <!-- Move filter field to the right -->
                <mat-form-field appearance="outline" class="mt-2 ml-auto">
                    <mat-label>Filter by status</mat-label>
                    <mat-select (selectionChange)="onOrderFilterSelect($event)">
                        @for (status of statusOptions; track $index) {
                        <mat-option [value]="status">{{status}}</mat-option>
                        }
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="p-4">
                <div class="mat-elevation-z8">
                    <table mat-table [dataSource]="orders" class="bg-white">

                        <ng-container matColumnDef="id">
                            <th mat-header-cell *matHeaderCellDef> No. </th>
                            <td mat-cell *matCellDef="let order"> {{order.id}} </td>
                        </ng-container>

                        <ng-container matColumnDef="buyerEmail">
                            <th mat-header-cell *matHeaderCellDef> Buyer email </th>
                            <td mat-cell *matCellDef="let order"> {{order.buyerEmail}} </td>
                        </ng-container>

                        <ng-container matColumnDef="orderDate">
                            <th mat-header-cell *matHeaderCellDef> Date </th>
                            <td mat-cell *matCellDef="let order"> {{order.orderDate | date: 'short'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="total">
                            <th mat-header-cell *matHeaderCellDef> Total </th>
                            <td mat-cell *matCellDef="let order"> {{order.total | currency : 'INR'}} </td>
                        </ng-container>

                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef> Status </th>
                            <td mat-cell *matCellDef="let order"> {{order.status}} </td>
                        </ng-container>

                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef> Actions </th>
                            <td mat-cell *matCellDef="let order">
                                <div class="flex gap-2">
                                    <!-- <button matTooltip="View" mat-icon-button routerLink="/orders/{{order.id}}">
                                        <mat-icon color="accent">visibility</mat-icon>
                                    </button> -->
                                    <button matTooltip="Delete" mat-icon-button>
                                        <mat-icon color="warn"
                                            (click)="opendeleteOrderDialog(order.id)">delete</mat-icon>
                                    </button>
                                    <button matTooltip="Refund" [disabled]="order.status === 'Refunded'"
                                        (click)="openRefundOrderDialog(order.id)" mat-icon-button>
                                        <mat-icon color="warn">undo</mat-icon>
                                    </button>
                                </div>

                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="orderColumns"></tr>
                        <tr mat-row *matRowDef="let row; columns: orderColumns;"></tr>
                    </table>

                    <mat-paginator class="bg-white" [pageSizeOptions]="[5, 10, 20]" [length]="ordersCount"
                        [pageSize]="orderParams.pageSize" (page)="onOrderPageChange($event)" showFirstLastButtons>
                    </mat-paginator>
                </div>

            </div>

        </mat-tab>




    </mat-tab-group>
</div>