<mat-card class="max-w-lg mx-auto mt-20 p-8 bg-white shadow-lg rounded-lg border border-gray-200">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">

        <!-- <div class="text-center mb-6">
            <h1 class="text-3xl font-semibold text-primary">Login</h1>
        </div> -->

        <!-- Title -->
        <div class="text-center mb-6">
            <h1 class="text-3xl font-semibold text-[#4A00E0]">Welcome Back</h1>
            <p class="text-gray-600 text-sm">Sign in to access your account</p>
        </div>

        <mat-form-field appearance="outline" class="w-full mb-4">
            <mat-label>Email address</mat-label>
            <input formControlName="email" type="email" placeholder="name@example.com" matInput />
            @if(loginForm.get('email')?.hasError('required'))
            {
            <mat-error>Email is required</mat-error>
            }
            @if(loginForm.get('email')?.hasError('email'))
            {
            <mat-error>Email is invalid</mat-error>
            }
        </mat-form-field>

        <mat-form-field appearance="outline" class="w-full mb-4">
            <mat-label>Password</mat-label>
            <input formControlName="password" [type]="showPassword ? 'text' : 'password'" placeholder="Password"
                matInput />
            @if(loginForm.get('password')?.hasError('required'))
            {
            <mat-error>password is required</mat-error>
            }
        </mat-form-field>
        <!-- <mat-checkbox class="w-full mb-1" [checked]="showPassword" (change)="onShowPasswordCheckboxChange($event)">
            Show Password
        </mat-checkbox> -->

        <button [disabled]="loginForm.invalid" mat-flat-button type="submit" class="w-full py-2">Sign in</button>

        <!-- Extra Text
        <p class="text-center text-gray-500 mt-4 text-sm">
            Already have an account?
            <a routerLink="/account/login" class="text-[#4A00E0] hover:underline">Sign in here</a>
        </p> -->



        <!-- <button [disabled]="loginForm.invalid" mat-flat-button type="submit" class="w-full py-2">Sign in</button> -->
        <!-- {{loginForm.value | json }} -->
        <!-- <h1>{{loginForm.status}}</h1> -->
    </form>
</mat-card>